{% extends "layout.html" %}
{% block title %}
Sell
{% endblock %}
{% block main %}
<form action="/sell" method="post">
    <div class="card start-50" style="width: 20rem;transform: translate(-50%,0%)!important;">
        <div class="card-body">
            <select name='symbol' id="symbol" class="form-select" aria-label="Default select example">
                <option selected disabled value="0">Select Stock</option>
                {% for row in stocks %}
                <option value="{{row.symbol}}">{{row.symbol}} - {{row.quantity}}</option>
                {% endfor %}
            </select>
            <div class="input-group mb-3" style="margin-top:5%">
            <input autocomplete="off" autofocus class="form-control mx-auto" id="quantity" name="shares"
                placeholder="Enter Quantity" type="number" min="1" step="1">
            </div>

            <div class="input-group mb-3" style="margin-top:5%">
                <button class="btn btn-outline-secondary" onclick="getAmount()" type="button" id="button1">Get</button>
                <input type="text" class="form-control mx-auto w-auto" id="amount" autocomplete="off" autofocus
                    placeholder="Amount" aria-label="Amount" aria-describedby="button-addon2" readonly>
            </div>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Current balance: </b>{{cash}}</li>
        </ul>
        <div class="card-body">
            <button type="submit" class="btn btn-primary">Sell</button>
        </div>
    </div>
</form>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
<script>
    function getAmount() {
        let symbol = document.getElementById("symbol");
        let quan = document.getElementById("quantity");
        let amount = document.getElementById("amount");
        if (symbol.value=="0"){
            amount.value = '';
            amount.placeholder = "Select Symbol"
            return
        }
        if (quan.value == '') {
            amount.value = '';
            amount.placeholder = "Enter Quantity"
            return
        }
        if (quan.value <= 0 || quan.value >= 10000) {
            amount.value = '';
            amount.placeholder = "Range is 1-9999"
            return
        }
        if (quan.value % 1.0 != 0) {
            amount.value = '';
            amount.placeholder = "Only integers"
            return
        }
        console.log("works")
        $.ajax({
            type: 'POST',
            url: '/getamountfromsymbol',
            data: {
                symbol:symbol.value,
                quantity:quan.value
            },
            success: function (v) {
                amount.value = v;
            }
        })
    }
</script>
{% endblock %}